body {
  font-family: "Poppins", sans-serif;

  margin: 0;
}
h1 {
  font-weight: 600;
  font-size: 60px;
}
.img2 {
  width: 70%;

  padding-right: 50px;
}
.main2 {
  padding-right: 50px;
}
.img2 img {
  width: 120%;

  padding-top: 5px;
}
h2 {
  font-size: 30px;
  font-size: 40px;
}
h4 {
  margin: 40px;
  font-weight: 700;
  font-size: 25px;
}
p {
  margin-bottom: 40px;
  text-align: justify;
  font-size: 20px;
}
span {
  color: rgb(255, 208, 0);
}
.hire-me-button {
  margin-left: 100px;
  color: white;
  border-radius: 7px;
  padding: 10px 30px;
  font-weight: 600;
  text-decoration: none;
  background-image: radial-gradient(tomato, orange);
}
section {
  padding-top: 10px;
  padding-left: 15px;
  display: flex;
  margin-bottom: 100px;
}
.back {
  background-image: url(images/top-banner.png);
  background-repeat: space;
}
.half-width1 {
  width: 60%;
}
.half-width2 {
  width: 40%;
}
.half-width2 img {
  padding-top: 30px;
  width: 80%;
}

.download-button {
  text-decoration: none;
  margin-left: 10px;
  color: white;
  border-radius: 7px;
  padding: 10px 30px;
  font-weight: 600;
  background-image: linear-gradient(yellowgreen, tomato);
}
.background2 {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.background {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}
